body {
  background: url("../images/");
  background-size: cover;

}

.content {
  background: white;
  width: 50%;
  padding: 40px;
  margin: 100px auto;
}

h1 {
  text-align: center;
  color:white;
}

img {
  width: 15vw;
  height: 19vh;
}

#initially-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color:green;
}

